.menu.menu-course{
	width: 100%;
	overflow-x: scroll;
}

.menu-title, .menu-body{
	color: @inverted-foreground-color;
	margin-bottom:@menu-title-padding-bottom;
}

.menu {
	background: @primary-color;
	.menu-container {
		.responsive-large;
		.responsive-medium;
		.responsive-small;
	}

	.menu-container-inner {
		padding:@menu-body-padding;
		display: inline-block;
		position: relative;
		width: 100%;
	}

	.menu-item {
		.responsive-medium;
		.responsive-small;
		margin-top:@menu-body-padding-bottom;
		margin-bottom:20px;

		margin: 0px !important;
		display: inline-block;
		position: relative;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-attachment: fixed !important;


		&.nth-child-even{
			.menu-item-inner{
				margin-left:0% !important;
		        .dir-rtl & {
		            margin-left:inherit;
		            margin-right:0% !important;
		        }
			}
		}

		&.nth-child-odd {
			clear: both;
			
			.menu-item-inner {
				margin-right:0% !important;
                .dir-rtl & {
                    margin-right:inherit;
                    margin-left:0% !important;
                }
			}
		}
	}

	.menu-item-inner {
		position:relative;
		max-width: none !important;
	    padding: 0px !important;
	    background : none !important;
	    background-color: transparent !important;
	}

	.menu-graphic a {
		display: block;
	}

	.menu-item-graphic {
		opacity: 0;
	}
	
	.menu-item-title {
		padding:@menu-body-padding;
	}

	.menu-item-body {
		padding:@menu-body-padding;
	}

	.menu-item-button {
		padding:@menu-body-padding;
		
		a {
			text-decoration: none;
			background-color:@button-color;
			color:@button-text-color;
			padding:@button-padding;
			
			&:hover {
				background-color:@button-hover-color;
				color:@button-text-hover-color;
			}
			
			&.visited {
				background-color:@button-disabled-color;
				color:@button-text-disabled-color;
			}
		}
	}

	.menu-item-duration {
		float:right;
        .dir-rtl & {
            float:left;
        }
	}
}

@media all and (max-width:1024px) {
	.menu .menu-item {background-attachment: scroll !important;}
}

@media all and (max-width:760px) {
	.menu-title-inner{
		padding:15px 0 0;
	}

	.menu-body-inner{
		padding:0px 0 10px;
	}

   	.menu{

   		.menu-inner {
			padding:0;
		}

		.menu-item{
			margin-bottom:20px;
			
			&.nth-child-even, &.nth-child-odd{
				
				.menu-item-inner{
					margin:0;
				}
			}
		}
   	}
}

