<div class="menu-container" role="region" aria-label="{{_globals._menu._boxmenu.ariaRegion}}">
	<div class='menu-container-inner box-menu-inner clearfix'>
		<a href="#" class="menu-item-control menu-item-control-left icon-controls-left icon menu-item-control-hide" role="button" aria-label=""></a>
		<a href="#" class="menu-item-control menu-item-control-right icon-controls-right icon" role="button" aria-label=""></a>
		<div class="menu-header" style="display: none;">
			<div class="menu-header-inner">
				{{#if displayTitle}}
				<div class="menu-title">
					<div class="menu-title-inner h1 accessible-text-block" role="heading" aria-level="1" tabindex="0">
						{{{displayTitle}}}
					</div>
				</div>
				{{/if}}
				{{#if body}}
				<div class="menu-body">
					<div class="menu-body-inner accessible-text-block">
						{{{a11y_text body}}}
					</div>
				</div>
				{{/if}}
				<a href="#" class="menu-reveal-items button" role="button">Start</a>
			</div>
		</div>
	</div>
	<div class="aria-label relative a11y-ignore-focus prevent-default" tabindex="0" role="region">{{_globals._menu._boxmenu.menuEnd}}</div>
</div>
